<div class="container-full-width footer-container">
	<footer class="container-wrapper">
		<div class="footer-column footer-column-icons">
			<mat-icon aria-hidden="false" aria-label="mail" fontIcon="mail" />
			<mat-icon
				aria-hidden="false"
				aria-label="photo-camera"
				fontIcon="photo_camera"
			/>
			<mat-icon
				aria-hidden="false"
				aria-label="brightness-1"
				fontIcon="brightness_1"
			/>
			<mat-icon
				aria-hidden="false"
				aria-label="location-on"
				fontIcon="location_on"
			/>
			<mat-icon aria-hidden="false" aria-label="image" fontIcon="image" />
		</div>
		<div class="footer-column footer-column-company">
			<mat-icon
				aria-hidden="false"
				aria-label="logo-webstore"
				fontIcon="camera"
			/>
			Webstore
		</div>
		<div class="footer-column footer-column-info text">
			© {{ currentYear }} Webstore. All rights reserved.
		</div>
	</footer>
</div>
