<mat-toolbar class="header">
	<div class="container">
		<div class="container-wrapper">
			<button mat-button routerLink="/">
				<mat-icon>camera</mat-icon> WebStore
			</button>
			<div class="nav-right-wrapper">
				<button
					matBadge="{{ cartService.cart().length }}"
					mat-icon-button
					routerLink="/cart"
				>
					<mat-icon
						aria-hidden="false"
						aria-label="shopping-cart-icon"
						fontIcon="shopping_cart"
					/>
				</button>
			</div>
		</div>
	</div>
</mat-toolbar>
