@use '../../../scss/breakpoints' as *;

.product-wrapper {
	height: 100%;
	padding: 2rem;
}

.product-image-wrapper {
	overflow: hidden;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 10rem;
	width: 100%;

	.product-image {
		max-width: 100%;
		max-height: 100%;
	}
}

.product-description-wrapper {
	flex-grow: 1;

	.product-description {
		display: inline-block;
		max-height: 57px;
		overflow: hidden;
		color: #767676;
		margin-bottom: 1rem;
		position: relative;

		&::after {
			content: '';
			display: block;
			position: absolute;
			inset: 0;
			background: linear-gradient(transparent, #fff);
		}
	}
}

.product-card-footer-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	.product-price {
		font-size: 1.5rem;
		font-weight: bold;
	}
}

@media (max-width: $small-laptop) {
	.product-title,
	.product-card-footer-inner .product-price {
		font-size: 1.25rem;
	}

	.product-card-footer-inner {
		flex-direction: column;
	}
}
