.product-wrapper {
	height: 100%;
	padding: 2rem;
}

.product-image-wrapper {
	overflow: hidden;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;

	.product-image {
		max-width: 100%;
		max-height: 100%;
	}
}

.product-description {
	display: block;
	flex-grow: 1;
	padding-bottom: 1rem;
}

.product-card-footer-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	.product-price {
		font-size: 1.5rem;
		font-weight: bold;
	}
}
