<div class="container">
	<div class="container-wrapper categories-wrapper">
		<mat-card class="mdc-card-intro-content">
			<mat-card-header>
				<mat-card-title>Welcome</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p class="mat-body-1">
					This project is built to enhance front-end development
					skills.
				</p>
			</mat-card-content>
		</mat-card>
		@for (category of categories(); track category) {
			<mat-card>
				<mat-card-header>
					<mat-card-title>{{ category }}</mat-card-title>
				</mat-card-header>
				<mat-card-actions>
					<button mat-button [routerLink]="['/category/', category]">
						See Products
					</button>
				</mat-card-actions>
			</mat-card>
		}
	</div>
</div>
