@import '../../scss/mixins';

.product-detail-wrapper {
	padding-top: 4rem;

	.mdc-card {
		align-items: start;
	}
}

.product-detail-inner-wrapper {
	@include flex-row;

	.product-detail-image-wrapper {
		width: 30%;

		img {
			display: block;
			max-width: 100%;
		}
	}

	.product-description {
		margin-bottom: 1.5rem;
	}
}
