// Components
.component {
	display: block;
	padding: 4rem 0;
	min-height: calc(100vh - 89px - 64px - 4rem);
}
// Container
.content-container {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 4rem 0;
	margin-top: 4rem;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: auto;
}

.container-full-width {
	max-width: 100%;

	.container-wrapper {
		max-width: calc(1440px - 2rem - 2rem);
		margin: auto;
		padding: 0 2rem !important;
	}
}

.container-wrapper {
	padding: 0 2rem;
}

// Typography
.title {
	font-size: 2rem;
	font-weight: 700;
}

.subtitle {
	font-size: 1.5rem;
}

.text {
	color: #767676;
	margin: 0;
}

// Cards
.products-wrapper .mdc-card {
	background-color: #fff;
}

.transparent-container .mdc-card {
	border: 1px solid #f6f6f8;
}

.product-detail-inner-wrapper .mat-mdc-card {
	width: 70%;
	background: transparent;
}
