<div class="content-container">
	<app-categories [categories]="categories" />
	<app-products
		headline="Popular Products"
		description="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea alias beatae aspernatur ex officiis facilis."
		[products]="popularProducts"
	/>
	<app-products
		headline="New Products"
		description="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea alias beatae aspernatur ex officiis facilis."
		[products]="newProducts"
		[transparentBcg]="true"
	/>
</div>
