<div class="content-container">
	<app-categories [categories]="categories" />
	<app-products
		headline="Popular Products"
		description="Our customers can't get enough of these top-rated products. Experience the quality that has made these products our most popular."
		[products]="popularProducts"
	/>
	<app-products
		headline="New Products"
		description="Introducing our latest arrivals! Fresh and exciting. Get your hands on the newest additions to our collection."
		[products]="newProducts"
		[transparentBcg]="true"
	/>
</div>
