@use '../../../../styles.scss' as *;

.product-container {
	background-color: $gray-light-1;
	padding: 4rem 0;

	.container-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	.products-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		padding-top: 2rem;
	}

	.product-description {
		max-width: 40rem;
		text-align: center;
		text-wrap: balance;
	}

	&.transparent-container {
		background-color: transparent;
		padding: 0;
	}
}
