@use '../../../../styles.scss' as *;
@use '../../../scss/breakpoints' as *;

.product-container {
	background-color: $gray-light-1;
	padding: 4rem 0;

	.container-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.products-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		padding-top: 2rem;
	}

	.title {
		text-transform: uppercase;
	}

	.product-description {
		max-width: 40rem;
		text-align: center;
		text-wrap: balance;
	}

	&.transparent-container {
		background-color: transparent;
		padding: 0;
	}
}

@media (max-width: $tablet) {
	.product-container .products-wrapper {
		grid-template-columns: 1fr;
	}
}

@media (max-width: $large-mobile) {
	.product-container {
		padding: 2rem 0;

		.products-wrapper {
			padding-top: 1rem;
		}
	}
}
