@import '../../scss/mixins';

.empty-cart-wrapper {
	width: fit-content;
	margin: 2rem auto;
	padding: 1rem 2rem 2rem;

	@include flex-column;

	.mat-mdc-card-header,
	.mat-mdc-card-footer {
		justify-content: center;
	}

	.mat-mdc-card-footer {
		display: flex;
	}
}

.cart-wrapper {
	align-items: flex-start;
	padding: 2rem 0;

	@include flex-row;
}

.cart-summary-card {
	padding: 2rem;
	gap: 1rem;
	min-width: 18rem;

	.title-heading {
		margin: 0;
	}

	.cart-summary-item {
		display: flex;
		justify-content: space-between;
	}
}
