<div
	class="cart-wrapper"
	[ngClass]="[cartService.cart().length > 0 ? 'products-cart-wrapper' : '']"
>
	@if (cartService.cart().length > 0) {
		<div class="cart-content-wrapper">
			<app-cart-item class="cart-items-wrapper" />
			<div class="cart-summary-wrapper">
				<span class="title-heading">Your order</span>
				<div class="cart-summary-items">
					<div class="cart-summary-item">
						<span>Subtotal</span
						><span>{{ displayPrice(cartSubtotal()) }}</span>
					</div>
					<div class="cart-summary-item">
						<span>Discount</span
						><span>-{{ displayPrice(cartDiscount) }}</span>
					</div>
					<div class="cart-summary-item">
						<span>Delivery</span
						><span>{{ displayPrice(cartDelivery) }}</span>
					</div>
				</div>
				<div class="cart-summary-item cart-summary-grand-total">
					<span>Grand total</span
					><span>{{ displayPrice(cartGrandTotal()) }}</span>
				</div>
			</div>
		</div>
	} @else {
		<mat-card class="empty-cart-wrapper">
			<mat-card-header>
				<mat-card-title>Empty Cart</mat-card-title>
			</mat-card-header>
			<mat-card-content class="empty-cart-content">
				There are no products added in the cart.
			</mat-card-content>
			<mat-card-footer>
				<button mat-flat-button routerLink="/">
					Add Products to the Cart
				</button>
			</mat-card-footer>
		</mat-card>
	}
</div>
