html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

$gray-light: #e5e7eb;
$blue-medium: #448aff;

.product-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.title-heading {
	font-size: 2rem;
	font-weight: bold;
}

.header {
	max-width: 1440px;
	padding: 1rem 2rem;
	margin: auto;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $gray-light;
}

.products-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 2rem;
	gap: 2rem;
}

.product-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: 1px solid $gray-light;
	padding: 1.5rem;
	border-radius: 1rem;

	.product-image-wrapper {
		aspect-ratio: 1 / 1;
		max-height: 200px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2rem;

		.product-image {
			max-height: 100%;
		}
	}

	.product-card-footer-wrapper {
		flex: 1 1 0;
		display: flex;
		align-items: flex-end;
	}

	.product-card-footer-inner {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.product-button-group {
		display: flex;
		gap: 0.5rem;
	}

	.product-description {
		max-height: 4.75rem;
		overflow: hidden;
	}
}

.product-price {
	font-size: 1rem;
	font-weight: bold;
}

.button {
	padding: 0.5rem 1.5rem;
	border: 1px solid;
	border-radius: 0.75rem;

	&.primary-button {
		background: $blue-medium;
		color: #fff;
	}

	&.secundary-button-with-icon {
		background-color: transparent;
		border-color: $blue-medium;
		color: $blue-medium;
	}
}

.product-detail-wrapper {
	display: flex;
	gap: 2rem;
	padding: 2rem;
	border-bottom: 1px solid $gray-light;

	.product-detail-content-wrapper,
	.product-detail-image-wrapper {
		flex: 1 1 0;
	}

	.product-detail-image-wrapper {
		max-height: 40rem;
		display: flex;
		justify-content: center;
		padding: 2rem;

		img {
			max-height: 100%;
		}
	}

	.product-detail-content-wrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.product-title {
		font-size: 2.5rem;
	}
}

.product-detail-similar-products-wrapper {
	padding: 2rem;

	.products-wrapper {
		padding: 2rem 0;
	}
}

/* cart */
.cart-wrapper {
	display: flex;
	padding: 2rem;
	height: calc(100vh - 57px);
	align-items: center;
	justify-content: center;

	&.products-cart-wrapper {
		align-items: flex-start;
	}
}

.empty-cart-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	background-color: #fff;
	padding: 4rem;
	border-radius: 1.5rem;

	.empty-cart-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.25rem;
	}
}

.cart-content-wrapper {
	flex: 1;
	display: flex;
	align-items: flex-start;
	gap: 3rem;
}

.cart-items-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.cart-item-wrapper {
	display: flex;
	align-items: center;
	padding: 2rem 1rem 1rem;
	border-top: 1px solid $gray-light;

	.cart-image-wrapper {
		width: 6rem;
		height: 5rem;
		overflow: hidden;
		display: flex;
		justify-content: center;

		.product-image {
			height: 100%;
		}
	}

	.cart-title {
		padding: 0 1rem;
		flex: 1;
	}

	.cart-price,
	.cart-quantity,
	.cart-price-total {
		width: 6rem;
		text-align: center;
	}
}

.cart-items-list {
	display: flex;
	padding: 1rem 1rem 0;

	.cart-items-list-item {
		width: 6rem;
		text-align: center;
	}

	.product-cart-items-list-item {
		width: auto;
		flex-grow: 1;
		text-align: left;
	}

	.total-cart-items-list-item {
		margin-right: 0.875rem;
	}
}

.cart-summary-wrapper {
	border: 1px solid $gray-light;
	min-width: 22rem;
	padding: 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.cart-summary-item {
		display: flex;
		justify-content: space-between;
	}
}
