@use 'app/scss/global';
@use '@angular/material' as mat;

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

$gray-light-1: #f6f6f8;
$gray-medium-1: #767676;
$blue-medium-1: #1767ce;

html {
	@include mat.theme(
		(
			typography: (
				plain-family: Inter,
				brand-family: Inter,
			),
		)
	);
}

mat-toolbar {
	padding: 0;
}

mat-card {
	box-shadow: none !important;
}
