@use 'app/scss/global';
@use '@angular/material' as mat;

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

$gray-light-1: #f6f6f8;
$gray-medium-1: #767676;
$gray-dark-1: #44474e;
$blue-medium-1: #1767ce;

html {
	@include mat.theme(
		(
			typography: (
				plain-family: Inter,
				brand-family: Inter,
			),
		)
	);
}

mat-toolbar {
	padding: 0 !important;
	background-color: $gray-light-1 !important;
}

mat-card {
	box-shadow: none !important;
	background-color: #f6f6f8;
}

.mat-mdc-table {
	background-color: #fff !important;

	tr.mat-mdc-header-row th.mat-mdc-header-cell {
		font-weight: 700;
	}

	.mat-mdc-header-cell,
	.mat-mdc-cell {
		border-bottom-color: $gray-light-1 !important;
	}
}

:root {
	@include mat.badge-overrides(
		(
			background-color: var(--mat-sys-primary),
		)
	);
}
